
.key {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
  &__red {
    background-color: $primary-red;
  }
  &__blue {
    background-color: $primary-blue;
  }
}

.key__p {
  line-height: 2.25;
}

@media screen and (min-width: 992px) {
  .key__p {
    // absolute positioning takes a block-level element out of the page/DOM flow.
    position: absolute; // Move the key down into the table area by removing it from page flow.
  }
}
