

.margin__alert {
  margin-top: 135px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .margin__alert {
    margin-top: 160px;
  }
}

.margin__facilities {
  margin-top: 10px !important;
}

@media screen and (min-width: 768px) {
  .margin__facilities {
    margin-top: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .margin__facilities {
    margin-top: 200px !important;
  }
}
