
.img-radius {
  border-radius: 5px;
}

.about-main {
  margin-top: 60px;
}

.long-heading {
  margin-right: -280px;
}

@media screen and (max-width: 768px) {
  .long-heading {
    margin-right: 0;
  }
}

.positioning__roster-table--m {
  margin-top: 5px;
}

@media screen and (min-width: 992px) {
  .positioning__roster-table--m {
    margin-top: 185px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container__table {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .positioning__sub-nav--container {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .positioning__sub-nav--container {
    max-width: 1300px;
  }
}
