
.svg__run {
  height: auto;
  max-width: 100%;
}

.svg__bench {
  height: auto;
  max-width: 100%;
}

.svg__sit-reach {
  height: auto;
  max-width: 100%;
}

.svg__sit-up {
  height: auto;
  max-width: 100%;
}
