// Table styles
// Needed for consistent table creation through CloudCannon CMS
// ============================================================

td {
  color: $grey-1;
  font-family: $basefont-stack;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  color: $primary-red;
  font-family: $secondaryfont-stack;
  font-weight: $secondaryfont-weight-bold;
  padding-left: 5px;
  padding-right: 5px;
}

.table__red-category {
  background-color: $grey-6;
  color: $primary-red;
  font-family: $secondaryfont-stack;
  font-weight: $secondaryfont-weight-bold;
  text-align: center;
  font-size: 1.25em;
}

.table__highlighted-cell {
  background-color: #e0e0e0;
  color: $primary-blue;
  font-family: $secondaryfont-stack;
  font-weight: $secondaryfont-weight-bold;
  font-size: 1.2em;
}
