---
layout: sport-page
baseurl: ../
title: Baseball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: baseball
sport: 2
slides:
  - image: uploads/header-bg2.jpg
    alt-text: >-
      Photo of the Cavaliers baseball team celebrating their 2017 NJCAA Division
      II National Championship victory.
    url: 'http://www.kcc.edu'
    text1: 'June 6, 2017 | Baseball'
    text2: 2017 NJCAA DIVISION II <br>NATIONAL CHAMPIONS
  - image: /uploads/baseball wade.jpg
    alt-text:
    url:
    text1: Sophomore
    text2: Wade Rankin
  - image: /uploads/baseballspring2019.jpg
    alt-text:
    url:
    text1: Spring 2019
    text2: Cavaliers Baseball
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
              <p>The Cavaliers are coming off a 42-17 season and a 3rd place finish in the Region IV Tournament.</p>
              <p>The 2017 NJCAA DII National Championship was a great accomplishment for the players and the program. We continue to have the same goals for our program, which include preparing our players academically and athletically to be successful at the 4-year university, compete for a Region IV Championship, and win 40 games each season.</p>
          </div><br />
          <div id="collapsePreview" class="collapse">
            <div class="editable">
                <p>The Cavaliers have several key players back for their sophomore seasons. These include OF Dylan Post: .295 BA, 9 2B, 5 3B, 1 HR, 31 RBI, 15 SB. INF Wade Rankin: .455 BA, 11 2B, 1 HR, 20 RBI, and 6 SB. C Jett MCGowan: 308 BA, 7 2B, 24 RBI. DH/1B Cristian Burciaga: .315 BA, 11 2B, 1 HR, 37 RBI. RHP Will Wentz: 5-0, 1.61 ERA, 28 IP. Nick Barnes: 3-0, 4.03 ERA, 22.1 IP. Sophomore infielders Alex Hoss, Jake Campbell, Tobey Rigsby and transfer Cole Eshleman are looking to contribute this season. On the mound sophomores, LHP Nick Crowe and RHP Donnie Craft are both coming off solid fall outing and look to contribute to the pitching staff.</p>
                <p>The freshman will definitely play a key role in the success of this team. They are led by shortstop Cole Stigleman, who has a dependable glove and a lethal bat. Corner infielders Jaret Humphrey and Michael Machnic will provide some thunder to the middle of the lineup. Nate James also provides a solid middle infielder and a left-handed bat. Outfielders Koltan Moore, Griffin Scaggs and Nate Vargo will also impact the lineup for the Cavaliers. Catcher Nick Anderson provides depth behind the plate or off the bench as a pinch hitter.</p>
                <p>On the mound, the team will look to Freshman Nick Laxner, Owen Behrens, Bobby Nowak, Aaron Ball, Jacob Duffy and Tyler Jasmin to solidify the starting rotations. Nolan Lebamoff, Jake Schueter, Tanner Walls, Max Minich and Ike Speiser will compete for innings out of the bullpen.</p>
                <p>&ldquo;We have talent and depth on the pitching staff and will be able to look to multiple players for success this season,&rdquo; says Head Coach Todd Post. &ldquo;Pitching and defense is our focus and being consistent in both areas will give us a great chance to win the Region IV Tournament in May.&rdquo;</p>
                <p>The early season for the Cavaliers consists of a 10 game schedule opening up with John A. Logan on the way to Myrtle Beach for the spring trip March 1-9 at the Ripken Experience.</p>
            </div>
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News  <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'baseball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Contacts</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
