---
layout: sport-page
baseurl: ../
title: Baseball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: baseball
sport: 2
slides:
  - image: uploads/header-bg2.jpg
    alt-text: >-
      Photo of the Cavaliers baseball team celebrating their 2017 NJCAA Division
      II National Championship victory.
    url: 'http://www.kcc.edu'
    text1: 'June 6, 2017 | Baseball'
    text2: 2017 NJCAA DIVISION II <br>NATIONAL CHAMPIONS
  - image: /uploads/baseball wade.jpg
    alt-text:
    url:
    text1: Sophomore
    text2: Wade Rankin
  - image: /uploads/baseballspring2019.jpg
    alt-text:
    url:
    text1: Spring 2019
    text2: Cavaliers Baseball
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
              <p>The Cavaliers enter the 2021 season with high expectations. The program has enjoyed recent success, including an NJCAA National Championship in 2017, and are poised to make a run at another Region IV Championship this spring.</p>
          </div><br />
          <div id="collapsePreview" class="collapse">
            <div class="editable">
                <p>&ldquo;The season has a bit of a different feel going in with the COVID situation and the lack of game experience our players have,&ldquo; says Coach Todd Post. &ldquo;We have trained, as we do each season, to have our players ready in March and be playing our best baseball as we prepare for the Region IV Tournament the second week of May.&rdquo;</p>
                <p>The Cavaliers have a solid staff of starting pitchers led by <strong>Bobby Nowak</strong>, <strong>Kyle Iwinski</strong>, <strong>Dylan Wolff</strong>,<strong> Joel Holtcamp</strong>, <strong>Matt Lelito</strong>,&nbsp;<strong>Trent Spoon</strong>. <strong>Gavin King</strong>, <strong>Tanner Sobkoviak</strong>, <strong>Trey Bryant</strong>, <strong>Gavin Nareski</strong>, &nbsp;<strong>Josh Varner</strong>,<strong> Jake Pevion</strong>, <strong>Marek Bauner</strong> and <strong>Malachi Mabins</strong> will see action out of the bullpen. Josiah Zamora will start the season in the closer role.</p>
                <p>The catching duties will belong to <strong>Kyle Czarnecki</strong>, P<strong>eyton Williams</strong> and <strong>Garret Latoz</strong>.</p>
                <p>&ldquo;We have talent and depth on the pitching staff and behind the plate,&rdquo; Post said. &ldquo;We will look to multiple players for success this season.&rdquo;</p>
                <p>Key position players that will impact the team this season include middle of the order hitters, 1B/DH <strong>Owen Jackson</strong>, 2B <strong>Ian Sanders</strong> and C <strong>Kyle Czarnecki</strong>. Outfielders <strong>Jake Vera</strong>, <strong>Drake Schrodt</strong>, <strong>Joey Humphrey</strong>, <strong>Tyler Jakob</strong> and <strong>Jared Holley</strong> will also see action this spring. Infielders <strong>Kelden Tyson</strong> and<strong> Josiah Zamora</strong> will anchor the left side of the infield for the Cavs. <strong>Matt Lelito</strong>, <strong>Nick Schindler</strong>, <strong>Mark Miller</strong>, and&nbsp;<strong>Trevor Meier</strong>&nbsp;will also provide depth in the infield.</p>
                <p>&ldquo;Our lineup will be able to score runs in a variety of ways and we will put pressure on our opponents with our team speed,&rdquo; says Post. &ldquo;Consistent pitching and defense are always the keys to winning a Region IV Championship.&rdquo;</p>
            </div>
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <!-- RESTORED BY WZ 9/25/20 & commented out via Jekyll comment the "TEMPORARY MESSAGE" below
          =================================================================== -->
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
          
        {% comment %}
        <!-- TEMPORARY MESSAGE DUE TO COVID COMPLICATIONS -->
        <div class="baseball slick games" style="padding:15px">
          <div class="schedule-slider">
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                  <br /><span class="schedule-slider__where d-block"><strong>Baseball will resume in 2021</strong></span>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                  <br /><span class="schedule-slider__where d-block">Please check for upcoming games closer to the start of the season.</span>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                </div>
              </div>
            </div>
          </div>
          <!-- END TEMPORARY MESSAGE -->
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News  <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'baseball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</div></section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
