---
layout: index-page
baseurl:
title: Athletics
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
sport: '1'
slides:
  - image: 'uploads/wsoccer-IG3_0097.jpg'
    alt-text: "Womens Soccer - Vs South Suburban College - #4 Analee Villagomez, #10 Balla Russo, #12 Elizabeth Rink"
    url: 'https://form.jotform.com/200896440788164'
    text2: Women's Soccer
  - image: 'uploads/soccer-IG3_0478.jpg'
    alt-text: "Mens Soccer vs South Suburban College - #15 Luis Mendez"
    url: 'https://athletics.kcc.edu/soccer'
    text2: Soccer
  - image: uploads/volleyball-2021_team.jpg
    alt-text:
    url: '#'
    text1: Lady Cavaliers
    text2: 2021 KCC Volleyball
  - image: uploads/wbasketball-team_2020_2.jpg
    alt-text: Women's basketball team
    url: 'https://athletics.kcc.edu/womens-basketball'
    text1: 2020-2021
    text2: Women's Basketball
  - image: uploads/basketball-DSC_5212.jpg
    alt-text: "Men's basketball action shots - #23 Darion Binion with ball"
    url: 'https://athletics.kcc.edu/mens-basketball'
    text2: Men's Basketball
  - image: /uploads/softball-IG3_8119.jpg
    alt-text: "Softball game vs Joliet Junior College - #18 Lanie Malone"
    url: 'https://athletics.kcc.edu/softball'
    text2: Softball
  - image: /uploads/baseball-banner-2021.jpg
    alt-text: 'Ian Sanders #14'
    url: 'https://athletics.kcc.edu/baseball'
    text1: 2020-2021
    text2: Baseball
---

<div class="container margin__alert">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container slider-container">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
    {% for slide in page.slides %}
      {% if forloop.first == true %}
      <div>
        <a href="{{ slide.url }}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}"></a>
        {% if slide.text1 or slide.text2 %}
        <div class="heading-container">
          {% if slide.text1 %}<h3 class="sub-heading">{{slide.text1}}</h3>{% endif %}
          {% if slide.text2 %}<h3 class="slide-heading">{{slide.text2}}</h3>{% endif %}
        </div>
        {% endif %}
      </div>
      {% else %}
      <div>
        <a href="{{ slide.url }}"><img src="assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}"></a>
        {% if slide.text1 or slide.text2 %}
        <div class="heading-container">
          {% if slide.text1 %}<h3 class="sub-heading">{{slide.text1}}</h3>{% endif %}
          {% if slide.text2 %}<h3 class="slide-heading">{{slide.text2}}</h3>{% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<section class="container content-marg mt-1">
  {% for alert in site.alerts limit: 1 %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading">
          <img src="assets/img/calendar.svg" class="icon-middle" alt="Calendar icon">&#160;Upcoming Games</h2>
          <div class="btn-group schedule__button-margin" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary mb-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View All Schedules</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="{{ page.baseurl }}/baseball/schedule">Baseball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/mens-basketball/schedule">Men's Basketball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/womens-basketball/schedule">Women's Basketball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/soccer/schedule">Men's Soccer Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/womens-soccer/schedule">Women's Soccer Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/softball/schedule">Softball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/volleyball/schedule">Volleyball Schedule</a>
            </div>
          </div>
          <a
            class="btn btn-primary mb-3 ml-2"
            href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg"
            target="_blank"
            rel="noopener noreferrer"
          >Watch Home Games Live</a>
        </div>
      <div id="scheduleDiv" class="slick games" style="padding:15px">
        {% include loading-slider.html %}
      </div>
      <p id="myMessage"></p>
    </div>
  </div>
  <div class="row news-social-row">
      <div class="col-md-8 col-xs-12 news-feed">
        <h2 class="main-heading grey-bg"><img src="assets/img/news.svg" class="icon-middle" alt="News icon">&#160;News  <a href="{{ page.baseurl }}news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
        <div class="news__scroll">
          <ul class="news__list">
            {% for post in site.posts %}
              {% include news-item.html %}
              {% include news-item-modal.html %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-sm-center social-marg">
        <h2 class="main-heading text-sm-left"><img src="assets/img/social-icon.svg" class="icon-middle" alt="Social media icon">&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
            <a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>
            <a class="btn btn-primary ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        	</div>

        <!-- YouTube Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body yt_player-positioning">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
