---
layout: sport-page
baseurl: ../
title: Men's Basketball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: mens-basketball
slides:
  - image: uploads/mbasketball-team_2021.jpg
    alt-text: Men's basketball team
    url: '#'
    text1: 2020-2021
    text2: Men's Basketball
  - image: /uploads/mbasketball-4.jpg
    alt-text: Men's basketball
    url: '#'
    text1: 2020-2021
    text2: Men's Basketball
  - image: /uploads/mbasketball-no11.jpg
    alt-text:
    url: '#'
    text1: Sophomore
    text2: A’ Kieon Gill
  - image: /uploads/basketball court.jpg
    alt-text:
    url:
    text1:
    text2: George H. Ryan Gymnasium
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container slider-container">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}

<!--Added Season Preview Section - 10-9-18 JN-->
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
            <p>Last season, the Cavs finished the season with a 21-11 record.</p>
            <p>This season, the Cavaliers will feature five freshmen and nine sophomores. As a team the Cavs want to excel on the basketball court, in the classroom and in the community.</p>
            <p>Each season, the Cavs bring in top talent from the Kankakee area and around the Midwest. This year&rsquo;s team has players from Illinois, Kentucky, Indiana and Ohio.</p>
            <p>The coaching staff and players are excited to embark on the 2021 season. The focus continues to improve the culture of KCC men&rsquo;s basketball. Please join us through live streaming for as many home games as possible. We truly believe you will not be disappointed!</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
              
          </div><br />
        </div>
        <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>

<!--  "Upcoming Games" slider  -->
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img
            src="{{page.baseurl}}assets/img/calendar.svg"
            class="icon-middle"
            alt="Calendar icon"
          />&#160;Upcoming Games
          <!-- <a href="{{ page.baseurl }}mens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> -->
        </h2>
        <a
          class="btn btn-primary mb-3 ml-2"
          href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg"
          target="_blank"
          rel="noopener noreferrer"
        >Watch Home Games Live</a>
        <a
          class="btn btn-primary mb-3 ml-2"
          href="./schedule/"
        >View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <!--  News rollup  -->
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'mens-basketball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <!--  Social Media  -->
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
