---
layout: sport-page
baseurl: ../
title: Men's Basketball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: mens-basketball
sport: 7
slides:
  - image: /uploads/mbb1819.jpg
    alt-text:
    url: '#'
    text1: 2018-2019
    text2: Men's Basketball
  - image: /uploads/mbb18192.jpg
    alt-text:
    url: '#'
    text1:
    text2: Men's Basketball
  - image: /uploads/theoowens-1.jpg
    alt-text:
    url: '#'
    text1: Sophomore
    text2: Theo Owens
  - image: /uploads/basketball court.jpg
    alt-text:
    url:
    text1:
    text2: George H. Ryan Gymnasium
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}

<!--Added Season Preview Section - 10-9-18 JN-->
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
            <p>Last season, the Cavs went into the holiday break with a 5-12 record. They found a bit of a groove in the second half, finishing at 15 wins and 17 losses. In the first round of the conference tournament, the Cavaliers took on Olive Harvey and won. The Cavs then fell to the eventual Region IV champion, Triton College. The lone sophomore last season, Theo Owens, accepted a full scholarship to NAIA Div. II Governors State University. He&rsquo;ll play alongside another former Cavalier, Gerald Duckworth.</p>
            <p>This season, the Cavaliers will feature seven players with previous basketball experience. They will be crucial to helping the freshmen learn what it takes to be successful. As a team the Cavs want to excel on the basketball court, in the classroom and in the community.</p>
            <p>Returning players</p>
            <p>Jonte Coleman (6&rsquo;4&rdquo;) is a sharp shooter who scored 11 points per game and brought in 5 rebounds per game last year. His leadership along with 6&rsquo;3&rdquo; combo guard Pierce Coleman (8 ppg and 4 rpg) will be crucial for the Cavaliers. Another sophomore returner is Vashawn Sims, one of the most athletic guards in the region. Sims averaged 10 ppg and 4 assists per game last season. A great counterpart to Sims&rsquo; great passing is knock down shooter Oren Amotz, who will be one of the best shooters Region 4 has seen in a long time. Brian Hernandez is also returning, and will be a medical redshirt. Hernandez will bring leadership with his great communication skills.</p>
            <p>Transfers</p>
            <p>Coach Thorson also hit the transfer portal to bring in additional experience. Bjorn Knutson, comes from NCAA Div. II Bemidji State, where he was a redshirt freshman last year. Knutson brings great depth to the wing with ability to finish strong or knock down the open three. Qwentin Peacock has shown the ability to be one of the best shooters on the team. Peacock transferred from Ancilla College, and has a great basketball IQ.</p>
            <p>Freshmen</p>
            <p>Zion Washington comes from North Lawndale with unbelievable athleticism and a 6&rsquo;9&rdquo; frame for prolific shot blocking. Damari Nixon had a great prep career at Curie H.S. in Chicago. With abilities ranging from lock-down defender to knock-down shooter, we are excited for him to transition to point guard.</p>
            <p>Along with those two Chicago talents, the Cavs brought in top talent from Kankakee and nearby Cissna Park. Christian Stadeli (6&rsquo;7&rdquo;) was a first team all-state player who can score in the post and rebound. Julian Stadeli (6&rsquo;7&rdquo;), Christian&rsquo;s twin, is a great defender. He&rsquo;s what coaches love to call a &ldquo;junk yard dog.&rdquo; Julian and Christian were coached by one of the best in the area, Kevin Long, and Cissna Park finished 2nd in IHSA class 1A last season. Another top local talent the Cavaliers targeted early was point guard Andre Robertson (5&rsquo;8&rdquo;), who will be one of the best defenders on the team. After playing for Coach Chris Pickett at Kankakee H.S., the Cavaliers knew Robertson would be mentally and physically prepared for the college game.</p>
            <p>Three other new players come from outside the United States. Michael Moshkovitz and Bar Shefa both come from Jerusalem, Israel, and are poised to bring great knowledge and ability to the Cavaliers. Moshkovitz (6&rdquo;7&rdquo;), is an outstanding passer who plays at all three levels of the court. Bar Shefa (6&rsquo;4&rdquo;) is a point guard with the basketball IQ and toughness to play four positions. He will be hard to stop. Ahmed Mahmoud (6&rsquo;6&rdquo;) attended high school in the U.S., but is originally from Egypt. He can shoot, dribble, pass, and score in the post.</p>
            <p>The coaching staff and players are excited to embark on the 2019-20 season. The focus continues to improve the culture of KCC men&rsquo;s basketball. Please join us for as many home games as possible. We truly believe you will not be disappointed!</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
              <p>With all of the new faces in the office, you will also see a lot of new faces in the classroom for the Cavaliers. Kankakee returns one player from last year&rsquo;s 2017-2018 season. Theo Owens is the only returner and the 6&rsquo;1&rdquo; Guard/Forward is going to have to step up in a leadership role to help this young team have a great season. The Cavaliers also got a transfer guard from Richard Daley, Namon Smith Jr, who averaged 19 points per game last season. These two sophomores will have to show the thirteen new freshman what it takes to compete at the NJCAA Division 1 Level on a daily basis.</p>
              <p>Thirteen new freshman?? Yes you heard it right. These freshman are ready to step in and not only be successful on the basketball court, but in the classroom as well. The KCC Men&rsquo;s Basketball Team consists of three local players who all played for Barry Bradford and Example Sports. Jalen Chavers played high school basketball under Adrian Provost at Bishop Mac until his senior season when he finished his prep career at Thornwood. Joey Flannery is a 6&rsquo;4&rdquo; Forward who prepped at Wilmington HS. Vashawn Sims is another player who didn&rsquo;t have to go too far to find himself at Kankakee as he prepped at Rich East HS.</p>
              <p>The Cavaliers have also made some great ties in the Chicagoland area as they brought in four freshman who had highly successful teams that they played for while in High School. Jayden Gasby and Bryan Johnson prepped at Curie High School coached by Mike Oliver which was one of the top teams in the state last season for 4A basketball. Brian Hernandez played under Lou Adams at Orr High School where he won back to back state championships his junior and senior seasons. All three of these players represented Team Rose during the summers in AAU. The last freshman from Chicago is Pierce Coleman who helped lead North Chicago and Coach Coleman to a 4th place finish in state this last season for 3A basketball.</p>
              <p>Chicago isn&rsquo;t the only area that the Cavaliers branched out to find players for this season. They also attained three players from Central Illinois which is Coach Thorson &amp; Coach Neaville&rsquo;s native area. Jonte Coleman who was coached by Jeff Finke at Champaign Central and is a great addition to the 2018-2019 roster. Another great addition is 6&rsquo;11&rdquo; Jake James who prepped at Limestone High School near Peoria Illinois. Both of these players played for Gavin Sullivan, and the IL Irish over the summer in AAU. Corez Anderson is another new freshman from Central Illinois who played under Verdell Jones at Urbana High School.</p>
              <p>The Cavaliers didn&rsquo;t stop their recruiting in Illinois though. Joining the Cavaliers for the 2018-2019 season is 6&rsquo;9&rdquo; Ali Alquraishy who prepped at Manuel High School in Indianapolis under Coach Donnie Bowling. Another player who played an extra year after High School at Indiana Elite Prep Academy under Tony Cole is Jacob Collins who is originally from Cincinnati Ohio. KCC didn&rsquo;t stop their recruitment in the United States, as they brought in sharp shooter Oren Amotz from Jerusalem Israel.</p>
          </div><br />
        </div>
        <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>

<!--  "Upcoming Games" slider  -->
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}mens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <!--  News rollup  -->
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'mens-basketball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <!--  Social Media  -->
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Contacts</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
