---
layout: sport-page
baseurl: ../
title: Softball
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: softball
season_preview: true
slides:
  - image: /uploads/softball-pitch.jpg
    alt-text:
    url:
    text1:
    text2: Lady Cavaliers
  - image: /uploads/softball-team-outdoors.jpg
    alt-text:
    url:
    text1:
    text2: Cavaliers Softball
  - image: /uploads/ladycavaliercatcher.jpg
    alt-text:
    url:
    text1:
    text2: 2019 Softball
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container slider-container">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
  <!-- seasone preview -->
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>The Cavaliers softball program coming off of a 36-14 season in 2021 look to make their mark on the 2022 season with 9 sophomores and 13 freshman players. Winners of 24 of the last 29 Region IV Championships, they expect to be a strong contender to win their 25th NJCAA D-2 Region Championship and make another trip to the National Tournament.</p>
          </div>
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>The Cavaliers will depend on the strong play and leadership of the 9 sophomores and look to the freshman to quickly learn and gain experience to contribute to the team. &nbsp;The consistency of hitting and defense from the infield will be anchored by sophomores Grace Langellier at SS, Claudia Morris at 3B, Bailey Nay at 2B, and Cori Sims at 1B. The outfield will be led by Sandie Opiela in CF. Kara Kleinert (C) will lead pitching staff of Anne Krull, Katie Lorscheider, and Teagen Schmalfeldt. The incoming freshman include pitchers Kaitlynn Heale, Lauren Sinks, Kylie Wade, and Colby McDivitt; catchers Mikayla Smith and Kaitlyn Womack; infielders Paxtyn Hicks, Emily Glogowski, and Yesenia Garcia; and outfielders Brooke Brian, Brianna Shepherd, Chayton Krueger, and Geralyn Barton<br />With dependable hitting, power, and speed as well as some young top pitching, the Cav&rsquo;s are expected to compete in a tough Region IV.&nbsp;<br />&nbsp;</p>
            </div>
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn collapsed" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}softball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <!-- REMOVED BY WZ 8/20/20 & replaced by "TEMPORARY MESSAGE" below
        =================================================================== -->  
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        
        {% comment %}
        <!-- TEMPORARY MESSAGE DUE TO COVID COMPLICATIONS -->
        <div class="baseball slick games" style="padding:15px">
          <div class="schedule-slider">
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                  <br /><span class="schedule-slider__where d-block"><strong>Softball will resume in 2021</strong></span>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                  <br /><span class="schedule-slider__where d-block">Please check for upcoming games closer to the start of the season.</span>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999"></div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper"><span class="schedule-slider__sport d-block">&nbsp;</span></div>
                </div>
              </div>
            </div><!-- END TEMPORARY MESSAGE -->
            {% endcomment %}
          </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}softball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'softball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
          </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</div></div></section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
