---
layout: sport-page
baseurl: ../
title: Volleyball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA
base: volleyball
sport: '4'
slides:
  - image: /uploads/volleyball team2018.jpg
    alt-text:
    url: '#'
    text1: Lady Cavaliers
    text2: 2018 KCC Volleyball
  - image: /uploads/basketball court.jpg
    alt-text:
    url:
    text1:
    text2: George H. Ryan Gymnasium
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
        <p>The Kankakee Community College volleyball team enters a new season with a group of three returners and eight new players joining the program. Overall, the Lady Cavaliers have a new team and new opportunities to rise above and compete this season.</p><p>“I have no concerns about having a team that is mainly freshmen. I feel that the sophomores will be able to follow along with everyone else or lead accordingly,” stated Head Coach Stephenee Yancy.</p></div> <div id="collapsePreview" class="collapse"><div class="editable">
        <p>Yancy is in her second season as head coach of the KCC volleyball team. She is joined in coaching by Alexa Wood. Woods is a KCC Volleyball Alumni and brings a different coaching perspective to the team.</p>
        <p>“I was nervous at first with this being my first-year coaching. Now that we have started, I am much more comfortable and confident in leading the girls. I think I bring a lot of explanation to our team. When the girls ask a question, I can not only answer it but also break it down further if needed,” stated Woods. She continued, “My goals for this season are that I want the girls to fight for every game. I also want them to progressively get better. Overall, I want us to have a good region record as well as a good overall record.”</p>
        <p>The three returning sophomores have great experience and prove to be key components to the team. Kassidi Burton, Jessica Schindler, and Kaylee Spegal lead the team in experience.</p>
        <p>One of KCC’s strengths will be its back row. Jenna Marion, Andela Spasojevic, and Kloe Longtin provide solid defense and serve receive.
        “Our defense has come a long way since the first day of practice. We’ve made huge improvements. Now it is just fine-tuning things and changing our defense based on our opponent. I want our back row to eat everything. Other teams should have to work extra hard to put the ball down because our back row is picking everything up,” added Coach Woods.</p>
        <p>The Cavaliers offense will also be a force to reckon with. Joining Burton on the outside is Alyssa Rodriguez. She is a great asset to have on the outside.
        Lanie Wilcox joins Schindler as a middle hitter. They keep the defending teams defense on their toes with hard hits, tips, and off-speed shots.
        As for right side hitters, Kyla Glover takes the spot and makes it her own.
        Ashley Harwood is a versatile player who can play any position she is put in.
        “I think it is great to have a player that is able to step in and do whatever is needed for the team. Not many people are able to do this, so it is a great option to have,” said Yancy.
        Overall, the Lady Cavaliers have a lot of potential and can pull off some wins.</p></div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games<!--  <a href="{{ page.baseurl }}volleyball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          <div class="schedule-slider-temp">
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999">
                </div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper">
                    <span class="schedule-slider__sport d-block">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999">
                </div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper">
                    <span class="schedule-slider__sport d-block">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row schedule-slider__row">
                <div class="schedule-slider__l text-center col-2" style="background-color:#999">
                </div>
                <div class="schedule-slider__r col-10">
                  <div class="schedule-slider__sport--wrapper">
                    <span class="schedule-slider__sport d-block">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}volleyball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'volleyball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
          </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <!-- ========================================================================================
    =============================================================================================
     DO NOT DELETE ANY COACHES OR COACHES' MODALS
    TO REMOVE COACHES USE HTML COMMENTS
    =============================================================================================
  =============================================================================================== -->
    <!-- Coaches containing row -->
    <div class="row">
      <!-- Coach 1 -->
      <!-- Coach 1 outer column -->


     <div class="col-md-4 coaches__col-bottom-margin">

        <!-- Coach 1 row -->


        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="../uploads/blank-male-avatar.jpg" alt="Photo of Head Coach Stephenee Yancy" class="img-fluid coach-img modal-link editable" /></a></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-6 float-right coaches__info">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Terry Allison</h5>
            <h6 class="coach-title editable">Head Coach</h6></a>
            <p class="editable">
                <a href="mailto:tallison@kcc.edu">tallison@kcc.edu</a>
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
          </div>

        </div>

      </div>


      <!-- Coach 2 -->
      <!-- Coach 2 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 2 row -->
        <div class="row">
          <!-- Coach 2 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="../uploads/alexa-wood.jpg" alt="Coach Photo" class="img-fluid coach-img modal-link editable" /></a></div>
          <!-- Coach 2 right info div (inner-right column) -->
          <div class="col-6 float-right coaches__info">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">Alexa&#160;Wood</h5></a>
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h6 class="coach-title editable">Assistant Volleyball Coach</h6></a>
            <p class="editable">
                <a href="mailto:amwood@kcc.edu">amwood@kcc.edu</a>
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
          </div>
        </div>
      </div>

      <!-- To add Coach 3:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 3 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
      <div class="row">
        <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
        <div class="col-6 float-right coaches__info">
          <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">Coach 3 Name</h5>
          <h6 class="coach-title editable">Coach 3 Title</h6></a>
          <p class="editable">
            815&#8209;802&#8209;####<br />
            email@kcc.edu
          </p>
          <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
        </div>



      uncomment to here for Coach 3
      =====================================================================================  -->



    <!-- To add an additional row of Coaches
    un-comment this div row and its closing tag (the HTML surrounded by "=" signs)
    =========================================================
    <div class="row coach-row-marg">
    =========================================================
    Then un-comment any additional coaches needed bellow-->

    <!-- To add Coach 4:
    Un-comment the following HTML and replace generic picture/info
    ALSO un-comment Coach 4 Modal and edit contents
    ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
          <div class="col-6 float-right coaches__info">
            <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">Coach 4 Name</h5>
            <h6 class="coach-title editable">Coach 4 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
          </div>


      uncomment to here for Coach 4
      =====================================================================================  -->

      <!-- To add Coach 5:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 5 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach5"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
          <div class="col-6 float-right coaches__info">
            <a data-toggle="modal" href="#modalCoach5" class="modal-link"><h5 class="coach-name editable">Coach 5 Name</h5>
            <h6 class="coach-title editable">Coach 5 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach5">View Bio</a>
          </div>


      uncomment to here for Coach 5
      =====================================================================================  -->

      <!-- To add Coach 6:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 6 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach6"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
          <div class="col-6 float-right coaches__info">
            <a data-toggle="modal" href="#modalCoach6" class="modal-link"><h5 class="coach-name editable">Coach 6 Name</h5>
            <h6 class="coach-title editable">Coach 6 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach6">View Bio</a>
          </div>


      uncomment to here for Coach 6
      =====================================================================================  -->

    <!--  closing div row (for adding extra coach row)
    ========================================================
    </div>
    ======================================================== -->


  <!-- Coach Modals -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../uploads/blank-male-avatar.jpg" alt="Photo of Head Coach" class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">Terry Allison</h5>
        <h6 class="coach-title editable">Head Coach</h6>
        <div class="editable">
            <p>Terry Allison is in his first year as Head Volleyball Coach for the Cavaliers. He comes to KCC with more than 15 years of coaching experience in the IHSA and Club Volleyball. Coach Allison brings his passion and knowledge of volleyball to the Cavaliers.</p>
            <p>Prior to KCC, Coach Allison is well known in the area from coaching at all levels of volleyball, recreational softball and soccer. He is also a certified IHSA Volleyball Official.</p>
            <p>Coach Allison lives in the Limestone area where he has lived a majority of his life. He has been married to Anita for more than 25 years with two beautiful daughters, Stephanie and Leighann, who are attending Ball State University.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img alt="Photo of Assistant Coach Alexa Wood" class="img-fluid float-left coach-modal-img editable" src="/uploads/alexa-wood.jpg" />
        <h5 class="coach-name editable">Alexa&#160;Wood</h5>
        <h6 class="coach-title editable">
            Assistant Volleyball Coach
        </h6>
        <div class="editable">
            <p>Alexa Wood graduated from Clifton Central High School where she played volleyball all four years. She started varsity her sophomore year where she stayed for her remaining two years. While at Central Coach Wood also earned multiple All-Conference and All-Area awards on top of multiple All-Tournament awards. She also played for Prime Time volleyball club all four years of high school, where three of the four years her team went to the national tournament.</p>
            <p>After graduating from Central Coach Wood went to play her Freshman year at Benedictine University. Then coming home to KCC for her sophomore year where she was first in the region for blocks.</p>
            <p>As a new coach, Alexa is excited to further her career in volleyball and is looking forward to a great first season as a coach.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Coach Modal 3
if adding a 3rd Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 3 Name</h5>
        <h6 class="coach-title editable">Coach 3 Title</h6>

        <div class="editable">
            <p>Coach 3 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 3rd coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 4
if adding a 4th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 4 Name</h5>
        <h6 class="coach-title editable">Coach 4 Title</h6>

        <div class="editable">
            <p>Coach 4 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 4th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 5
if adding a 5th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 5 Name</h5>
        <h6 class="coach-title editable">Coach 5 Title</h6>

        <div class="editable">
            <p>Coach 5 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 5th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 6
if adding a 6th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 6 Name</h5>
        <h6 class="coach-title editable">Coach 6 Title</h6>

        <div class="editable">
            <p>Coach 6 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 6th coach un-comment to here
=========================================================================================== -->

</div></div></section>
