---
layout: sport-page
baseurl: ../
title: Volleyball
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA
base: volleyball
sport: '4'
slides:
  - image: /uploads/volleyball team2018.jpg
    alt-text:
    url: '#'
    text1: Lady Cavaliers
    text2: 2018 KCC Volleyball
  - image: /uploads/basketball court.jpg
    alt-text:
    url:
    text1:
    text2: George H. Ryan Gymnasium
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
            <p>The Cavaliers volleyball team enters the 2019 season with four returning and six new players. Overall, the Lady Cavaliers have a new team and new opportunities to rise above and compete this season.</p>
        </div> <div id="collapsePreview" class="collapse"><div class="editable">
    <p>&ldquo;We have a team of strong incoming freshmen, and four leaders from last year&rsquo;s team, and will have a strong year,&rdquo; stated Head Coach Terry Allison. Overall, the Lady Cavaliers have a lot of potential and can pull off some wins.<br />Allison, in his first season as head coach, is joined by assistants Alexa Wood and Jessica Holmes. Wood is a KCC Volleyball Alumni who brings a different coaching perspective to the team. Holmes was a defensive player in college and has four years of experience coaching high school volleyball.</p>
    <p>"I'm going into the year with high expectations for these girls and they are willing to work hard to achieve those expectations,&rdquo; Coach Allison said. &ldquo;I have provided them with their own workouts for the summer and they provide me feedback with their results. They are ready to take this team to the next level in 2019."<br />The four returning sophomores&mdash;Kloe Longtin, Ashley Harwood, Jenna Marion and Andjela Spasojevic&mdash;have great experience and should prove to be key components to the team through their leadership and a bond with the new team members.</p>
    <p>One of KCC&rsquo;s strengths will be its back row of Longtin and Olivia Powell, as they provide solid defense and in serve-receive. The Cavaliers offense will also be a force to reckon with. &nbsp;Harwood, Lexi Johnson, Sierra Cureton and DeAngela Davis will lead the way on the front line with kills and blocking. &nbsp;</p>
    <p>Harwood in particular is a versatile player who can play any position she is put in.&nbsp;<br />&ldquo;I think it is great to have a player who is able to step in and do whatever is needed for the team,&rdquo; said Coach Allison. &ldquo;Not many people are able to do this, so it is a great option to have.&rdquo;&nbsp;</p>
    <p>Sierra Cureton will join Harwood on the right side, with Johnson and Davis playing big as middle hitters. Sloan Boyce will be OH, opposite of Harwood. Marion and Spasojevic will play a big part in the back row and serving. &nbsp;<br />&nbsp;</p>
</div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games<!--  <a href="{{ page.baseurl }}volleyball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}volleyball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'volleyball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
          </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Contacts</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
