---
layout: sport-page
baseurl: ../
title: Women's Soccer
season_preview: true
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: soccer
sport: '5'
slides:
  - image: uploads/soccer_2019-20_DSC_8323.jpg
    alt-text: '2019-2020 KCC soccer team'
    url: '#'
    text1: 'Fall 2019'
    text2: Cavaliers Soccer
  - image: uploads/soccer_2019-20_DSC_8369.jpg
    alt-text: '2019-2020 KCC soccer team'
    url: '#'
    text1: 'Fall 2019'
    text2: Cavaliers Soccer
  - image: /uploads/dawson-swearengen-44-mtv5350-650x355.jpg
    alt-text: 'Dawson Swearengen #44'
    url: '#'
    text1: 'Dawson Swearengen #44'
    text2: Midfielder
  - image: /uploads/michael-biedron-16-mtv5624.jpg
    alt-text: 'Michael Biedron #16'
    url: '#'
    text1: 'Michael Biedron #16'
    text2: Defender
  - image: /uploads/alex-navarro-1-goalkeeper-dsc-6328-650x355.jpg
    alt-text: 'Alex Navarro #1 Goalkeeper'
    url: '#'
    text1: 'Alex Navarro #1'
    text2: Goalkeeper
  - image: /uploads/brandon-wray-337-mtv5681-650x355.jpg
    alt-text: 'Brandon Wray #37 Defender'
    url: '#'
    text1: 'Brandon Wray #37'
    text2: Defender
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
  <!-- season preview -->
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
              <p>The Cavaliers enter the 2019 campaign with high expectations. After qualifying for the Region IV quarterfinals the last two years, the program now looks to take the next big step. &ldquo;We are in the largest region in the country, having to play 16 regional opponents to qualify for the tournament,&rdquo; said Coach Barclay.</p>
          </div> <div id="collapsePreview" class="collapse"><div class="editable">
    <p>&ldquo;The past two years we peaked at the right time during the season to qualify, but we ran out of steam by the quarterfinals,&rdquo; Coach Barclay said. &ldquo;This year we will be prepared. We have the largest and deepest roster in the program&rsquo;s history, running three players deep in most positions. The pool of talent that has come together for this season is by far the best.&rdquo; Expectations are high for this team, both on and off the field.</p>
    <p>&ldquo;In the last four years we have had 19 Academic All-Americans in the classroom and this recruiting class should continue to add to the growing list,&rdquo; said Coach Barclay.&nbsp;</p>
    <p>"As a coaching staff, we are extremely proud of the accomplishments the program has made over the past five years. But, we still have lots of work to do. Every year our players have seen the accomplishments of the previous team and set their goals to continue this upward momentum. I am confident that this year will not disappoint.&rdquo;</p>
</div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}soccer/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}soccer/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'soccer' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
