---
layout: sport-page
baseurl: ../
title: Women's Basketball
description: >-
  KCC offers intercollegiate men's basketball, women's basketball, baseball,
  softball, men's soccer and volleyball. The Cavaliers compete in Region IV of
  the NJCAA.
base: womens-basketball
sport: 6
slides:
  - image: /uploads/wbb1819.jpg
    alt-text: Team picture
    url: '#'
    text1: 2018-2019
    text2: Women's Basketball
  - image: /uploads/sophmores1819.jpg
    alt-text: Sophomores
    url: '#'
    text1: 2018-2019
    text2: Sophomores
  - image: /uploads/alexis.jpg
    alt-text:
    url: '#'
    text1: 2018 Region IV Division II All-Region Team
    text2: Alexis Marin
  - image: /uploads/basketball court.jpg
    alt-text:
    url: '#'
    text1:
    text2: George H. Ryan Gymnasium
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}

<!--ADDED SEASON PREVIEW SECTION - 10-9-18 JN-->
      <div class="row schedule-row">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
              <p>The Lady Cavaliers return to the hardwood intent on making a strong appearance at the Region IV Tournament. The team ended last season with its first ever loss in the quarter final round of the region tournament. This year's team will feature nine new freshman and 3 sophomores. Success will depend on growth, leadership and the ability of newcomers to learn quickly, listen and be coachable.</p>
          </div> <div id="collapsePreview" class="collapse"><div class="editable">
    <p>Coach Donnie Denson will ask the freshmen to step up and make their presence felt on the offensive and defensive ends. The sophomores will be expected to lead by example and continue the hard-nosed style of play that has earned 22 National Tournament appearances in the past 28 years for the Lady Cavaliers.</p>
    <p>The 2019-20 schedule has the Cavs facing off against South Suburban College, Moraine Valley C.C., Prairie State College, Morton College, and Rock Valley C.C. in Region IV. The schedule also takes the Cavaliers out of Region IV to play Kalamazoo Valley C.C., Danville Area C.C., Parkland College, Lake Michigan College, Sinclair C.C., Ancilla College and Lake Land College tournament.</p>
    <p>The Lady Cavaliers expect to face several nationally ranked teams. The 2019-20 schedule includes three contests against NJCAA divisions 1 opponents, 23 with NJCAA Division II teams and two NJCAA Division III. These regular season matchups should give the Cavs the preparation necessary to compete for the regional championship crown.</p>
</div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>


    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}womens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}womens-basketball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts limit: 10 %}
                {% if post.categories contains 'womens-basketball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget_wbb.html %}
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Contacts</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
