---
layout: page-page
baseurl: ../../
base: facilities
title: Police Officer Fitness Test
description: "The Kankakee Community College Police Officer Fitness Test will be held at KCC's Fitness Center, located inside the Kankakee Valley Ice Center at 1601 River Road, Kankakee, IL."
---

<!-- Facilities-specific sub-nav -->
<div class="container-fluid sub-nav">
  <div class="row filler">&#160;</div>
  <div class="row sub-nav-row mx-auto">
    <div class="col-md-6 text-center">
      <h1 class="page-heading">Police Officer Fitness Test</h1>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

<main class="sports-facilities-container">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3 text-center align-self-center">{% include sit-reach.html %}</div>
      <div class="col-6 col-sm-3 text-center align-self-center">{% include sit-up.html %}</div>
      <div class="col-6 col-sm-3 text-center align-self-center">{% include bench-press.html %}</div>
      <div class="col-6 col-sm-3 text-center align-self-center">{% include run.html %}</div>
    </div>
    <div class="row row-marg">
      <div class="col">
              <div class="editable">
                  <h3 class="blue-heading">Applicant Information</h3>
                  <P>The Police Officer Fitness Test is held at KCC's Fitness Center, inside the Kankakee Valley Ice Centre, 1601 River Road, Kankakee.</P>
                  <h5>Requirements:</h5>
                  <ul>
                    <li>The Police Officer Fitness Test must be scheduled at least three (3) business days before it is administered.</li>
                    <li>The cost is $45 per attempt.</li>
                    <li>Pay by credit card. Phone KCC's Accounting Office - 815-802 8140. Hours: Mon. - Thurs. 8 a.m. - 6 p.m. &bull; Fri. 8 a.m. - 5 p.m. (closed most Fridays in May, June & July).</li>
                    <li>After payment, contact KCC's Fitness Center to schedule your Police Officer Fitness Test. Email <a href="mailto:ymills@kcc.edu">ymills@kcc.edu</a> or phone 815&#8209;802&#8209;8610 (hours are Mon. - Fri. 6 a.m. - 1 p.m. &bull; Mon. - Thurs. 4-7 p.m. &bull; Sat. 8 a.m. - noon)</li>
                    <li>Fees will not be accepted on the day of the test.</li>
                    <li>Bring a state-issued picture identification card.</li>
                    <li>Wear appropriate exercise attire for indoor and outdoor activity.</li>
                    <li>Athletic shoes are required. No street shoes or boots are allowed.</li>
                    <li>Except for extreme conditions, the test will not be delayed or rescheduled due to weather.</li>
                    <li>Immediately after the test, candidates who successfully complete all requirements will be issued a Police Officer Fitness Test card or temporary card
                    <li>Replacement fee is $20.</li>
                  </ul>
                  <h5>Additional information</h5>
                  <ul>
                    <li>Must be 20 yrs. of age or older at the time of testing.</li>
                    <li>No refunds, including for a missed test time.</li>
                    <li>Test must be completed within 6 months of payment.</li>
                  </ul>
                  <h5>The Test</h5>
                  <p>The Police Officer Fitness Test consists of four basic tests.</p>
                  <p>The tests will be given in the following sequence with a rest period between each.</p>
                  <ul>
                    <li><strong>Sit and Reach Test</strong> - A measure of the flexibility of the lower back and upper leg area.</li>
                    <li><strong>1 Minute Sit-Up Test</strong> - A measure of the muscular endurance of the abdominal muscles.</li>
                    <li><strong>1 Repetition Maximum Bench Press</strong> - A maximum weight pushed from the bench press position to measures the amount of force the upper body can generate.</li>
                    <li><strong>1.5 Mile Run</strong> - A timed run to measure the heart and vascular system’s capability to transport oxygen.</li>
                  </ul>
                  <h3 class="blue-heading">Test Standards</h3>
                  <p>The applicant must pass every test.<br>
                    The required performance to pass each test is based upon age (decade) and sex.</p>
              </div>
      </div>
    </div>
  </div>
</main>
