.recruit-section {
  margin-top: 140px;
}

@media screen and (min-width: 992px) {
  .recruit-section {
    margin-top: 180px;
  }
}

.btn-marg-left {
  text-align: right;
}

@media screen and (min-width: 360px) {
  .btn-marg-left {
    margin-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .btn-marg-left {
    margin-left: 40px;
  }
}

.row-space {
  margin-bottom: 20px;
}
