<div class="container position__offset-alert">
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        <p class="typography__alert mb-0">
          <strong>Alert:</strong> Due to inclement weather, KCC will close its college facilities at 2 pm today, Feb. 15, through tomorrow, Feb. 16. This includes extension centers.
Learning and work will move to a virtual environment. Online classes will meet. Classes scheduled to be in person will move online when possible. Check Canvas if you need specific details on each class. College services will be available online.
        </p>
      </div>
    </div>
  </div>
</div>
