<div class="container position__offset-alert">
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        <p class="typography__alert mb-0">
          <strong>Alert:</strong> Students can access Canvas through [My KCC](https://my.kcc.edu/). KCC is open and ready to help you reach your goals. Registration for Summer 2021 is underway. Visit <a href="http://coronavirus.kcc.edu">coronavirus.kcc.edu</a> for details and procedures to visit a college facility.
        </p>
      </div>
    </div>
  </div>
</div>
