<div class="container position__offset-alert">
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        <p class="typography__alert mb-0">
          <strong>Alert:</strong> Vaccine appointments are full for the KCC distribution site on April 6-7. Appointments are still available for qualified groups on April 5 at Pembroke Fellowship Church. <a href="https://events.juvare.com/IL-IDPH/9a74f201-933a-4364-9523-636e26b0dd5c/" target="_blank" rel="noopener noreferrer">Make an appointment</a>.
        </p>
      </div>
    </div>
  </div>
</div>
