<div class="schedule-slider-temp">
  <div>
    <div class="row schedule-slider__row">
      <div class="schedule-slider__l text-center col-2" style="background-color:#999">
      </div>
      <div class="schedule-slider__r col-10">
        <div class="schedule-slider__sport--wrapper">
          <span class="schedule-slider__sport d-block">&nbsp;</span>
        </div>
        <img src="{{ page.baseurl }}assets/img/loader.gif" class="img-fluid img__loader" alt="Loading">
      </div>
    </div>
  </div>
  <div>
    <div class="row schedule-slider__row">
      <div class="schedule-slider__l text-center col-2" style="background-color:#999">
      </div>
      <div class="schedule-slider__r col-10">
        <div class="schedule-slider__sport--wrapper">
          <span class="schedule-slider__sport d-block">&nbsp;</span>
        </div>
        <img src="{{ page.baseurl }}assets/img/loader.gif" class="img-fluid img__loader" alt="Loading">
      </div>
    </div>
  </div>
  <div>
    <div class="row schedule-slider__row">
      <div class="schedule-slider__l text-center col-2" style="background-color:#999">
      </div>
      <div class="schedule-slider__r col-10">
        <div class="schedule-slider__sport--wrapper">
          <span class="schedule-slider__sport d-block">&nbsp;</span>
        </div>
        <img src="{{ page.baseurl }}assets/img/loader.gif" class="img-fluid img__loader" alt="Loading">
      </div>
    </div>
  </div>
</div>
