.img__w-100 {
  height: auto;
  width: 100px;
}

.img__loader {
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 48px;
}

.img__link--w-soccer {
  max-width: 100%;
  width: 100%;
}

.img__w-soccer {
  width: 100%;
}
