.schedule-container {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .schedule-container {
    margin-top: 220px;
  }
}

.schedule__date-red,
.schedule__date-blue {
  color: $white;
}

.schedule__date-red {
  background-color: $primary-red;
}

.schedule__date-blue {
  background-color: $primary-blue;
}

.schedule-pages__table-header {
  background-color: $white;
}

.schedule-page__btn-primary--margin-btm {
  margin-bottom: 10px;
}

.schedule-page__align-center--offset {
  text-indent: -15px;
}
