{% include document-head.html %}
  <body id="page-top" class="landing">
  <!-- Google Tag Manager (noscript) -->
  {% include script/google-noscript.html %}
  <!-- End Google Tag Manager (noscript) -->
  {% include global-nav.html %}
  {% include mega-nav.html %}
  {% include sub-nav.html %}
  {{ content }}
  {% include footer.html %}
  {% include script/facebook-widget.html %}
  {% include script/vendor-scripts.html %}
  {% include script/custom-script.html %}
  {% include script/schedule-slider-script.html %}
{% include foot.html %}
